<article>

  <section class="selection-section">

    <div style="
height: 461px !important;
overflow: scroll;
overflow-x: hidden;
overflow-y: scroll;
margin-top: 59px;
line-height:0.9;
">
      <div *ngFor="let event of dataFromApi">
        <!-- <h4>Events on {{ event.start }}</h4> -->

        <div class="w3-half w3-hide-small crd">
          <div class="w3-card-4 test" style="width:97%">
            <header class="w3-container w3-blue">
              <span>
                <h4 style="
                display: inline-block;">{{ event.destination }}</h4>

                <i class="fa fa-trash a" (click)=myClickFunction(event.id)></i>
              </span>


            </header>
            <div class="w3-container content">
              <br>
              <p>{{event.comments}}</p>
              <!-- <p>{{ event.beginAt }}</p> &nbsp;to -->
              <p>{{ event.start | date}}</p>
              <br>

            </div>

            <footer class="w3-container w3-blue">
              <h5>&nbsp;</h5>
            </footer>

          </div>
        </div>

      </div>
    </div>


  </section>
  <section class="demo-section" *ngIf="showcalnder" style="
  margin-top: 86px;
">
    <infinite-calendar [events]="events" [language]="'enUS'" [monthDateFormat]="'MMM/yyyy'">
    </infinite-calendar>
  </section>

</article>